.entry {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-block-end: 2.5rem;
}

.entry__title {
  margin-bottom: 0.25rem;
}

.entry__content {
  display: flex;
  width: 100%;
}

.entry__progress {
  --background-color: transparent;

  /* --value-color: var(--color-primary); */
  --value-color: color-mix(
    in oklch shorter hue,
    var(--color-primary) var(--progress, 0),
    transparent
  );

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100vw;
  height: 0.25rem;
  border: none;
  border-radius: 0;
  background-color: transparent;

  &::-moz-progress-bar {
    background-color: var(--value-color);
  }

  &::-webkit-progress-bar {
    background-color: var(--background-color);
  }

  &::-webkit-progress-value {
    background-color: var(--value-color);
  }

  /* If the whole page fits in the viewport, we hide the progress element */
  &[data-fits-page] {
    display: none;
  }
}

.entry__iframe {
  width: 100%;
  max-width: 48rem;
  margin-inline: auto;
  border: none;
}
