.entry {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-block-end: 2.5rem;
}

.entry__title {
  margin-bottom: 0.25rem;
}

.entry__content {
  width: 100%;
  max-width: 48rem;
  margin-inline: auto;
  border: none;
}
