.form {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.input {
  display: block;
}

.input__label {
  display: block;
}

.input__field {
  display: block;
  margin-top: 0.25rem;
}

/* Show/hide fields based on other fields */
.form:has(input[value="RssFeed"]) [data-show-only="RssFeed"] {
  display: none;
}

.form:has(input[value="RssFeed"]:checked) [data-show-only="RssFeed"] {
  display: unset;
}
