<h1>Reset your password</h1>

<p>
Hi <%= @user.email %>
<br>
Someone requested a reset of your password.
<br>
If this was you, click on the link to reset your password. The link will expire automatically in 30 minutes.
<br>
<%= link_to 'Reset Password', edit_password_url(token: @token) %>
</p>
