@import url("./reset.css");
@import url("./theme.css");

:root {
  color-scheme: light dark;
}

html {
  color: var(--color-black);
  font-size: var(--text-base);
  font-family: var(--font-body);

  @media (--dark-mode) {
    color: var(--color-white);
  }
}

/* Turn on smooth scrolling for users without reduced motion */
@media (--motion-ok) {
  * {
    scroll-behavior: smooth;
  }
}
