/* Screen breakpoints */
@custom-media --screen-sm screen and (min-width: 640px);
@custom-media --screen-md screen and (min-width: 768px);
@custom-media --screen-lg screen and (min-width: 1024px);
@custom-media --screen-xl screen and (min-width: 1280px);
@custom-media --screen-2xl screen and (min-width: 1536px);

/* Preferences */
@custom-media --motion-ok (prefers-reduced-motion: no-preference);
@custom-media --motion-not-ok (prefers-reduced-motion: reduce);

/* Light/Dark mode */
@custom-media --light-mode (prefers-color-scheme: light);
@custom-media --dark-mode (prefers-color-scheme: dark);

:root {
  /* Screen size */
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;

  /* Fonts */
  --font-body: system-ui, sans-serif;
  --text-base: 1rem;

  /* Colours */
  --color-white: oklch(100% 0 0deg);
  --color-black: oklch(24.42% 0.006 0.59deg);

  /* Border radius */
  --rounded: 1rem;
  --rounded-full: 9999px;
}
