name: Dependencies

on:
  push:
    paths:
      - Gemfile
      - Gemfile.lock
      - package.json
      - yarn.lock

jobs:
  update:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: ${{ github.ref != 'refs/heads/main' }}
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-23.05
      - name: Run bundix
        run: nix develop .#deps --impure --command bundix
      - uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          commit_message: "Update gemset.nix"
          commit_user_name: robbevp
          commit_user_email: bot@robbevp.be
          commit_author: robbe[bot] <bot@robbevp.be>
      - name: Run yarn2nix
        run: nix develop .#deps --impure --command bash -c "yarn2nix > yarn.nix"
      - uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          commit_message: "Update yarn.nix"
          commit_user_name: robbevp
          commit_user_email: bot@robbevp.be
          commit_author: robbe[bot] <bot@robbevp.be>
